:root {
  --font-body: "Garamond-Narrow";
  --font-header: "Martin";
  --color-text: rgba(0, 0, 0, 0.7);
  --grey: rgb(217, 217, 217);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);

  /* MARGINS & WIDTHS*/
  --gap: 2vh;
  --app-width: 60vw;
  --app-margins: 10vh 20vw;

  /* RATIOS */
  --subtitle-to-title: calc(23 / 70);
  --nav-to-subtitle: calc(12 / 22.5);
  --body-to-subtitle: calc(8 / 22.5);

  /* FONT-SIZES */
  --title: 12vw;
  --subtitle: calc(var(--title) * var(--subtitle-to-title));
  --nav: calc(var(--subtitle) * var(--nav-to-subtitle));
  --body: calc(var(--subtitle) * var(--body-to-subtitle));

  /* LETTER SPACING*/
  --letter-spacing-ratio: 0.05;
  --title-letter-spacing: calc(var(--title) * var(--letter-spacing-ratio));
  --subtitle-letter-spacing: calc(
    var(--subtitle) * var(--letter-spacing-ratio)
  );
  --body-letter-spacing: calc(var(--body) * var(--letter-spacing-ratio));

  /* LINE HEIGHT */
  --line-height: 0.8;

  /* HEADER PADDING/MARGINS */
  --banner-margins: calc(var(--subtitle) / 4);
  --title-subtitle-gap: calc(var(--banner-margins) * 2);
  --subtitle-padding: calc(var(--banner-margins) / 2);

  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: var(--body);
  font-family: var(--font-body);
}

.content-title {
  font-size: var(--nav);
  margin-bottom: var(--gap);
}

.content {
  /* max-width: 80%; */
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@font-face {
  font-family: "Martin";
  src: url("./lib/fonts/MARTIN-Regular.otf");
}

@font-face {
  font-family: "Garamond-Narrow";
  src: url("./lib/fonts/itc-garamond-std-book-narrow.otf");
}

@media screen and (max-width: 480px) {
  :root {
    --gap: 0.5vh;
    --app-width: 80vw;
    --app-margins: 5vh 10vw;
  }
}
