@import "@fontsource/fira-mono";

:root {
  --font-body: Inter;
  --color-text: rgba(0, 0, 0, 0.7);
  --grey: rgb(217, 217, 217);

  /* MARGINS */
  --gap: 2vh;

  /* RATIOS */
  --subtitle-to-title: calc(24.5 / 70);
  --body-to-subtitle: calc(10 / 24.5);

  /* FONT-SIZES */
  --title: 8vw;
  --subtitle: calc(var(--title) * var(--subtitle-to-title));
  --body: calc(var(--subtitle) * var(--body-to-subtitle));

  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: var(--body);
  font-family: var(--font-body);
}

.title {
  font-size: var(--title);
  font-weight: 700;
  /* line-height: 10vh;  */
}

.subtitle {
  font-size: var(--subtitle);
  font-weight: 400;
}

.content-title {
  margin-bottom: var(--gap);
}

.content {
  max-width: 80%;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
