:root {
  --font-body: "Garamond-Narrow";
  --font-header: "Martin";
  --color-text: rgba(0, 0, 0, 0.7);
  --grey: rgb(217, 217, 217);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);

  /* MARGINS */
  --gap: 2vh;

  /* RATIOS */
  --subtitle-to-title: calc(24.5 / 70);
  --body-to-subtitle: calc(10 / 24.5);

  /* FONT-SIZES */
  --title: 12vw;
  --subtitle: calc(var(--title) * var(--subtitle-to-title));
  --body: calc(var(--subtitle) * var(--body-to-subtitle));

  /* LINE HEIGHT */
  --title-line-height: var(--title);

  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: var(--body);
  font-family: var(--font-body);
}

.title {
  font-size: var(--title);
  /* font-weight: 700; */
  letter-spacing: 0.25rem;
  line-height: 10vh;
}

.subtitle {
  font-size: var(--subtitle);
  /* font-weight: 400; */
  letter-spacing: 0.1rem;
}

.content-title {
  margin-bottom: var(--gap);
}

.content {
  /* max-width: 80%; */
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@font-face {
  font-family: "Martin";
  src: url("./lib/fonts/MARTIN-Regular.otf");
}

@font-face {
  font-family: "Garamond-Narrow";
  src: url("./lib/fonts/itc-garamond-std-book-narrow.otf");
}
